/* 
    Created on : 2 abr. 2022, 3:54:49 p. m.
    Author     : neury-dev
*/
/* Maquetado
-------------------------------------------------------------------------------*/
.n-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% auto;
    grid-gap: 0.625em;
}
.n-grid > section { 
    /*color: var(--n-color-2);*/
}
.n-grid > .area_1 { grid-area: 1 / span 4 / 2 / 5; }
.n-grid > .area_2 { grid-area: 2 / span 4 / 3 / 5; }
.n-grid > .area_5 { grid-area: 5 / span 4 / 6 / 5; }

/* main
-------------------------------------------------------------------------------*/
.n-grid > .area_2 { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-top: 80px;
}
.n-grid > .area_2 > main { 
    width: 320px;
    margin-bottom: 32px;
}
.n-grid > .area_2 > main > section:nth-child(1) { text-align: center; }
.n-grid > .area_2 > main > section > h2 { color: var(--n-color-3); margin: 0 0 0; }

/* main: Correo
-------------------------------------------------------------------------------*/
.n-grid > .area_2 > main > section:nth-child(1) input {
    color: var(--n-color-1);
    background-color: var(--n-color-5);
    width: 184px;
    border: 1px solid var(--n-color-5);
    border-radius: 4px;
    padding: 4px;
}
.n-grid > .area_2 > main > section > section {
    margin: 8px 0px;
}
.n-grid > .area_2 > main > section:nth-child(1) .info { 
    position: relative;
}
.n-grid > .area_2 > main > section:nth-child(1) .info > button {
    color: var(--n-color-5);
    background-color: var(--n-color-1);
    font-weight: bold;
    border: 2px solid var(--n-color-1);
    padding: 4px;
}
.n-grid > .area_2 > main > section:nth-child(1) .info > button > .dato {
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 28px;
    z-index: 1;
    color: var(--n-color-1);
    background-color: var(--n-color-3);
    text-align: center;
    width: 140px;
    margin-left: -75px;
    border-radius: 6px;
    padding: 5px;
    box-shadow: var(--n-sombra-2);
    transition: opacity 0.3s;
    opacity: 0;
}
.n-grid > .area_2 > main > section:nth-child(1) .info > button > .dato::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--n-color-3) transparent transparent transparent;
}
.n-grid > .area_2 > main > section:nth-child(1) .info:hover .dato {
    visibility: visible;
    opacity: 1;
}

/* main: formulario
-------------------------------------------------------------------------------*/
.n-grid > .area_2 > main > section > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.n-grid > .area_2 > main > section > form > * + * {
    margin: 1em 0em;
}

/* main: formulario > input[type="text"], input[type="correo"], textarea
-------------------------------------------------------------------------------*/
.n-grid > .area_2 > main > section > form > .label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    width: 100%;
}
.n-grid > .area_2 > main > section > form > label > .input {
    flex-grow: 1;
    
    display: block;
    color: var(--n-color-2);
    font-size: 1em;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    box-sizing: border-box;
    padding: 4px 0px;
    transition: border-color 0.2s;
}
.n-grid > .area_2 > main > section > form > label > textarea { 
    flex-grow: 1;
    display: block;
    color: var(--n-color-2);
    font-size: 1.30em;
    line-height: 1;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 8px 16px;
    resize: none;
}
.n-grid > .area_2 > main > section > form > label > .icono {
    width: 1rem;
    order: -1;
    stroke-dasharray: 0, 20;
    stroke-dashoffset: -14.142;
    transition: all 0.2s;
}
.n-grid > .area_2 > main > section > form > label > .icono > path {
    fill: none;
    stroke: var(--n-color-4);
    stroke-width: 2px;
}
.n-grid > .area_2 > main > section > form > label > .input:focus + .icono,
.n-grid > .area_2 > main > section > form > label > textarea:focus + .icono {
    stroke-dasharray: 28.284, 20;
    stroke-dashoffset: 0;
}
.n-grid > .area_2 > main > section > form > label > .linea {
    width: 100%;
    height: 2px;
    stroke: var(--n-color-2);
    stroke-width: 2px;
    margin-left: 1rem;
}
.n-grid > .area_2 > main > section > form > label > .linea > .focus,
.n-grid > .area_2 > main > section > form > label > .linea > .valid,
.n-grid > .area_2 > main > section > form > label > .linea > .invalid {
    stroke-dasharray: 0, 20;
    stroke-dashoffset: -20;
    transition: all 0.2s;
}
.n-grid > .area_2 > main > section > form > label:active {
    color: var(--n-color-4);
}
.n-grid > .area_2 > main > section > form > label > .input:focus ~ .linea > .focus,
.n-grid > .area_2 > main > section > form > label > textarea:focus ~ .linea > .focus {
    stroke: var(--n-color-4);
}
.n-grid > .area_2 > main > section > form > label > .linea > .focus { stroke: var(--n-color-2); }
.n-grid > .area_2 > main > section > form > label > .linea > .valid { stroke: var(--n-color-5); }
.n-grid > .area_2 > main > section > form > label > .linea > .invalid { stroke: var(--n-color-6); }
.n-grid > .area_2 > main > section > form > label > .input:focus ~ .linea > .focus,
.n-grid > .area_2 > main > section > form > label > .input:valid ~ .linea > .valid,
.n-grid > .area_2 > main > section > form > label > .input[data-touched]:invalid ~ .linea > .invalid,
.n-grid > .area_2 > main > section > form > label > textarea:focus ~ .linea > .focus,
.n-grid > .area_2 > main > section > form > label > textarea:valid ~ .linea > .valid,
.n-grid > .area_2 > main > section > form > label > textarea[data-touched]:invalid ~ .linea > .invalid {
    stroke-dasharray: 40, 0;
    stroke-dashoffset: 0;
}

/* main: formulario > input[type="radio"]
-------------------------------------------------------------------------------*/
.n-grid > .area_2 > main > section > form > section > .envase {
    display: block;
    position: relative;
    margin-bottom: 8px;
    padding-left: 20px;
    cursor: pointer;
    user-select: none;
}
.n-grid > .area_2 > main > section > form > section > .envase > input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}
.n-grid > .area_2 > main > section > form > section > .envase > .tema {
    position: absolute;
    top: -2px;
    left: 0;
    background-color: var(--n-color-2);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.n-grid > .area_2 > main > section > form > section > .envase:hover input ~ .tema {
    background-color: var(--n-color-4);
}
.n-grid > .area_2 > main > section > form > section > .envase > input:checked ~ .tema {
    background-color: var(--n-color-3);
}
.n-grid > .area_2 > main > section > form > section > .envase > .tema:after {
    content: "";
    display: none;
    position: absolute;
}
.n-grid > .area_2 > main > section > form > section > .envase input:checked ~ .tema:after {
    display: block;
}
.n-grid > .area_2 > main > section > form > section > .envase > .tema:after {
    top: 0.37em;
    left: 0.37em;
    background-color: var(--n-color-3);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

/* main: formulario > button[tyep="submit"]
-------------------------------------------------------------------------------*/
.n-grid > .area_2 > main > section > form > button[type="submit"] {
    color: var(--n-color-1);
    background-color: var(--n-color-5);
    font-size: 1em;
    font-weight: bold;
    border: 2px solid var(--n-color-5);
    padding: 7px 16px;
    border-radius: 0.25rem;
}
.n-grid > .area_2 > main > section > form > button[type="submit"]:focus {
    border: 2px dotted var(--n-color-1);
}

