/* 
    Created on : 2 abr. 2022, 12:29:28 a. m.
    Author     : neury-dev
*/
/* footer
--------------------------------------------------------------------------------*/
.n-grid > .area_4 > footer {
    display: flex;
    align-items: center;
    
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    color: var(--n-color-1);
    background-color: var(--n-color-4);
    /*border-top: 1px solid var(--n-color-2-3);*/
    padding: 0px 16px;
}
.n-grid > .area_4 > footer > .derechos {
    width: 100%;
    font-size: 0.80em;
}
.n-grid > .area_4 > footer > .derechos > p a {
    color: var(--n-color-1);
    text-decoration: underline;
}

/* Maquetado
--------------------------------------------------------------------------------*/
@media screen and (min-width: 551px) and (max-width: 800px) {
    .n-grid > .area_4 > footer > .derechos {
        text-align: center;
    }
}
@media screen and (max-width: 550px) {
    .n-grid > .area_4 > footer {
        justify-content: center;
        height: 32px;
    }
    .n-grid > .area_4 > footer > .derechos {
        text-align: center;
        font-size: 0.70em;
        width: 180px;
    }
    .n-grid > .area_4 > footer > .derechos > p > span {
        white-space: nowrap;
    }
}


