/* 
    Created on : 2 abr. 2022, 12:29:00 a. m.
    Author     : neury-dev
*/

/* header
--------------------------------------------------------------------------------*/
.n-grid > .area_1 > header {
    display: flex;
    
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid var(--n-color-2-3);
    padding: 16px 0px 16px 0px;
    background-color: var(--n-color-1);
}
.n-grid > .area_1 > header > h1 {
    color: var(--n-color-1);
    background-color: var(--n-color-4);
    font-family: var(--n-fuente-2);
    font-size: 2.10em;
    margin: 4px 0px 0px 32px;
    border-radius: 4px;
    padding: 6px 10px 0px 8px;
    text-shadow: var(--n-sombra-de-texto-1);
}
.n-grid > .area_1 > header > h1 > span { 
    color: var(--n-color-1); 
    text-shadow: var(--n-sombra-de-texto-1);
}
.n-grid > .area_1 > header > section {
    display: flex;
    flex-direction: row;
    
    position: absolute;
    right: 0;
    font-size: 0.90em;
    width: auto;
    margin: 0px 32px 0px 0px;
    padding: 0;
}
.n-grid > .area_1 > header > section > div {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.n-grid > .area_1 > header > section a {
    color: var(--n-color-4);
    font-size: 1em;
    text-decoration-line: underline; 
    text-decoration-style: solid;
    text-decoration-color: var(--n-color-2-3);
    margin: 0 0 0 0.50em;
    border: var(--n-border-0);
    padding: 0.25em;
}
.n-grid > .area_1 > header > section > div > button:hover,
.n-grid > .area_1 > header > section a:hover {
    color: var(--n-color-4);
    text-decoration: underline;
}
.n-grid > .area_1 > header > section a:focus,
.n-grid > .area_1 > header > section > div > button:focus,
.n-grid > .area_1 > header > section > div > div#idioma > a:focus {
    text-decoration-color: var(--n-color-2);
    border: var(--n-border-2);
    border-radius: 0.20em;
}
.n-grid > .area_1 > header > section > div > button {
    color: var(--n-color-4);
    background: var(--n-color-1);
    font-size: 1em;
    margin: 0;
    margin-left: 8px;
    border: var(--n-border-0);
    padding: 0.25em;
}
.n-grid > .area_1 > header > section > div > div#idioma {
    display: flex;
    align-items: center;
    font-size: 1em;
}
.n-grid > .area_1 > header > section > div > div#idioma > a {
    font-size: 1em;
    text-decoration-line: underline; 
    text-decoration-style: solid;
    text-decoration-color: var(--n-color-2-3);   
    margin: 0;
    border: var(--n-border-0);
    padding: 0.25em;
}
.n-grid > .area_1 > header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
    position: absolute;
    right: 0;
    width: auto;
    margin: 32px 32px 0px 0px;
    padding: 0px;
}
.n-grid > .area_1 > header > nav > section > *,
.n-grid > .area_1 > header > nav > section > section > * { margin: 0; }
.n-grid > .area_1 > header > nav > :nth-child(2) {
    display: flex;
    align-items: flex-end;
}
.n-grid > .area_1 > header > nav ul {
    list-style: none;
    padding: 0;
}
.n-grid > .area_1 > header > nav > section > ul > li, 
.n-grid > .area_1 > header > nav > section > section > ul > li,
.n-grid > .area_1 > header > nav > section > .mediano-oculto > .mediano > ul > li {
    display: inline;
    font-weight: bold;
}
.n-grid > .area_1 > header > nav > section > .minimo-oculto > .minimo > ul > li {
    font-weight: bold;
    margin: 0.50em 0em;
}
.n-grid > .area_1 > header > nav ul > li {
    position: relative;
    padding-left: 16px;
}
.n-grid > .area_1 > header > nav ul > li > a {
    position: relative;
    color: var(--n-color-4);
    border: var(--n-border-0);
    padding: 0.25em;
}
.n-grid > .area_1 > header > nav ul > li > a:focus {
    text-decoration: underline;
    border: var(--n-border-2);
    border-radius: 0.20em;
}
.mediano-oculto {
    display: flex;
    flex-direction: row;
}
.n-grid > .area_1 > header > nav button {
    color: var(--n-color-4);
    background-color: var(--n-color-0);
    font-size: 1.0em;
    margin-top: 0;
    border: var(--n-border-0);
    padding: 0.30em 0.50em 0.25em 0.50em;
}
.n-grid > .area_1 > header > nav button:focus {
    border: var(--n-border-2);
    border-radius: 0.20em;
}
.n-grid > .area_1 > header > nav button.menu_tablet {
    position: fixed;
    top: 3.30em;
    right: 2.50em;
    
    padding: 0.30em 0.50em 0.25em 0.50em;
}
.n-grid > .area_1 > header > nav > section > ul > li > .cubrir,
.n-grid > .area_1 > header > nav > section > section > ul > li > .cubrir,
.n-grid > .area_1 > header > nav > section > .mediano-oculto > .mediano > ul > li > .cubrir {
    padding-left: 7px;
}
.n-grid > .area_1 > header > nav > section > ul > li > .cubrir,
.n-grid > .area_1 > header > nav > section > section > ul > li > .cubrir { 
    display: none;
    position: absolute;
    left: 0.70em;
    bottom: 1.10em;
    height: 0;
}
.n-grid > .area_1 > header > nav > section > .mediano-oculto > .mediano > ul > li > .cubrir {
    display: none;
    position: absolute;
    left: 0.70em;
    bottom: 1.14em;
    height: 0;
}
.n-grid > .area_1 > header > nav > section > .minimo-oculto > .minimo > ul > li > .cubrir {
    display: none;
    position: absolute;
    bottom: 1.20em;
    height: 0;
}
.n-grid > .area_1 > header > nav ul > li > .cubrir > .con {
    color: var(--n-color-3);
    border: var(--n-border-0);
    padding: 0.25em;
}
.n-grid > .area_1 > header > nav ul > li > .cubrir > .con:focus {
    border: var(--n-border-2);
    border-radius: 0.20em;
}
.n-grid > .area_1 > header > nav > section > ul > li:hover .cubrir,
.n-grid > .area_1 > header > nav > section > section > ul > li:hover .cubrir,
.n-grid > .area_1 > header > nav > section > .mediano-oculto > .mediano > ul > li:hover .cubrir,
.n-grid > .area_1 > header > nav > section > .minimo-oculto > ul > li:hover .cubrir,
.n-grid > .area_1 > header > nav > section > .minimo-oculto > .minimo > ul > li:hover .cubrir { 
    display: block;
    animation: cubrir 1.5s ease-in-out 2 alternate forwards;
}
@keyframes cubrir {
    0%   { clip: rect(0px, 0px, 200px, 0px);   }
    25%  { clip: rect(0px, 35px, 200px, 0px);  }
    50%  { clip: rect(0px, 60px, 200px, 0px);  }
    75%  { clip: rect(0px, 85px, 200px, 0px);  }
    100% { clip: rect(0px, 110px, 200px, 0px); }
}
.n-grid > .area_1 > header > nav ul > li:hover .enlace {
    animation: enlace 1.5s forwards; 
    
    border: var(--n-border-2);
    border-radius: 0.20em;
}
@keyframes enlace {
    0%   { opacity: 0.75;           }
    25%  { opacity: 0.50;           }
    50%  { opacity: 0.25;           }
    75%  { opacity: 0.00;           }
    100% { color: var(--n-color-3); }
}

/* Maquetado
--------------------------------------------------------------------------------*/
@media screen and (min-width: 551px) and (max-width: 800px) {
    .n-grid > .area_1 > header > nav {
        right: 3em;
    }
    .n-grid > .area_1 > header > nav > section > .mediano-oculto > .mediano {
        display: none;
        position: fixed;
        top: 6em;
        left: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        border-bottom: 1px solid var(--n-color-2-3);
        padding-left: 8px;
        background-color: var(--n-color-1);
    }
}
@media screen and (max-width: 550px) {
    .n-grid > .area_1 > header {
        padding: 12px 0px 12px 0px;
    }
    .n-grid > .area_1 > header > h1 {
        margin: 4px 0px 0px 12px;
    }
    .n-grid > .area_1 > header > section {
        flex-direction: column-reverse;
        
        left: 102px;
    }
    .n-grid > .area_1 > header > section > div {
    }
    .n-grid > .area_1 > header > section > div > div#idioma {
        padding: 0.20em 0.50em;
    }
    .n-grid > .area_1 > header > section > div > button {
        padding: 0.50em 0.50em;
    }
    .n-grid > .area_1 > header > section > a {
        width: 4.50em;
        margin-left: 2em;
    }
    .n-grid > .area_1 > header > nav {
        right: 3em;
        margin: 0.50em 0 0 0;
    }
    .n-grid > .area_1 > header > nav button {
        position: absolute;
        top: 0;
        right: 0;
        
        font-size: 1.50em;
    }
    .minimo { 
        display: none;
        position: fixed;
        top: 67px;
        left: 0;
        right: 0;
        z-index: 1;
        border-bottom: 1px solid var(--n-color-2-3);
        background-color: var(--n-color-1);
    }
}
@media screen and (min-width: 550px) { .minimo-oculto { display: none; } }
@media screen and (max-width: 550px), (min-width: 800px) { .mediano-oculto { display: none; } }
@media screen and (max-width: 800px) { .maximo-oculto { display: none; } }

/*.display { display: block; }*/

