/* 
    Created on : 2 abr. 2022, 12:29:14 a. m.
    Author     : neury-dev
*/
/* Maquetado
-------------------------------------------------------------------------------*/
.n-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% auto;
    grid-gap: 0.625em;
}
.n-grid > section { 
    /*color: var(--n-color-2);*/
}
.n-grid > .area_1 { grid-area: 1 / span 4 / 2 / 5; }
.n-grid > .area_2 { grid-area: 2 / span 4 / 3 / 5; }
/*.n-grid > .area_3 { grid-area: 2 / 3 / 3 / span 2; }*/
.n-grid > .area_4 { grid-area: 3 / span 4 / 4 / 5; }

/* main
--------------------------------------------------------------------------------*/
.n-grid > .area_2 {
    /*border: 1px solid var(--n-color-2);*/
}
.n-grid > .area_2 > main {
    width: 100%;  
}
.n-grid > .area_2 > main > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    text-align: center;
}
.n-grid > .area_2 > main > div > h2 {
    color: var(--n-color-4);
    font-size: 6.25em;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 0;
}
.activo {
    animation: servicios 4s;
}
@keyframes servicios { 
    0%   { clip-path: inset(100% 0% 0% 0%); }
    30%  { clip-path: inset(0% 0% 0% 0%);   }
    40%  { clip-path: inset(0% 0% 0% 0%);   }
    50%  { clip-path: inset(0% 0% 0% 0%);   }
    60%  { clip-path: inset(0% 0% 0% 0%);   }
    70%  { clip-path: inset(0% 0% 0% 0%);   }
    100% { clip-path: inset(0% 0% 100% 0%); }
}
.n-grid > .area_2 > main > div > p {
    color: var(--n-color-4);
    font-size: 0.90em;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.5;
    white-space: nowrap;
    margin-top: -32px;
}
.n-grid > .area_2 > main > div > p > span {
    color: var(--n-color-1);
    background-color: var(--n-color-4);
    padding: 0.3vmax 0.1vmax 0.2vmax 0.3vmax;
    
    animation: servicios 4s infinite;
}

/* Maquetado
--------------------------------------------------------------------------------*/
@media screen and (min-width: 551px) and (max-width: 800px) {
    .n-grid > .area_2 > main > div > h2 {
        font-size: 3.25em;
        margin: 0.40em 0em;
    }
    .n-grid > .area_2 > main > div > p {
        font-size: 0.70em;
    }
}
@media screen and (max-width: 550px) {
    .n-grid > .area_2 > main > div > h2 {
        font-size: 2.25em;
        margin: 0.80em 0em;
    }
    .n-grid > .area_2 > main > div > p {
        font-size: 0.50em;
    }
}
